@media (max-width:600px){
    .conteiner-geral{
        display: grid;
        grid-template-columns: 50% 50% ;
        grid-template-rows: 600px 1fr;
        grid-template-areas: 
        'formulario formulario  '
        'moeda moeda  ';
    }
    .moedas .tipo-moedas{
        display: block;
        max-width: 80%;
        margin: auto;
    }
    .real-conteiner,
    .dolar-conteiner,
    .euro-conteiner{
        width: 100%;
        margin: 20px 0px 20px;
    }
}